
@model TeacherProject.Models.Teacher

@{
    ViewBag.Title = "Show";
}

<h2 class="show-header">@Model.TeacherFName  @Model.TeacherLName</h2>
<p><strong>Teacher ID:</strong>  @Model.TeacherId</p>
<p class="show-detail">Instructor @Model.TeacherLName teaches @Model.TaughtClassName (@Model.TaughtClassCode)</pclass="show-detail">

